@use "../../../assets/styles/media_queries" as mixin;

.housing {
  width: 100%;
  border-radius: 25px;
  background: var(--light-gray);
  flex-wrap: wrap;
  @include mixin.lg {
    padding: 5px;
  }
  @include mixin.xs {
    background: white;
  }
}
