@use "../../../assets/styles/media_queries" as mixin;

.lodging {
  width: 340px;
  height: 340px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @include mixin.lg {
    margin: 25px 15px;
  }
  @include mixin.xs {
    width: 340px;
    height: 255px;
    border-radius: 10px;
    margin: 10px;
  }
  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    img {
      transition: transform 0.4s;
      transform: scale(1.02);
    }
  }

  .imgGradiant {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    h2 {
      z-index: 1;
      max-width: 200px;
      position: absolute;
      text-align: left;
      bottom: 25px;
      left: 20px;
      font-size: 18px;
      font-weight: 400;
      color: white;
    }
  }
  .imgGradiant::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
  }
}
