@use "../../../assets/styles/media_queries" as mixin;

.banner {
  max-width: 100%;
  height: 225px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  @include mixin.sm {
    height: 160px;
  }
  @include mixin.xs {
    height: 115px;
  }
  img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
  }
  // @include mixin.xs {
  //   h1::before {
  //     content: "Chez vous, partout et ailleurs";
  //   }
  // }
  h1 {
    width: 100%;
    position: absolute;
    text-align: center;
    top: calc(50% - 24px);
    left: 0px;
    font-size: 48px;
    font-weight: 400;
    color: white;
    @include mixin.sm {
      text-align: center;
      white-space: pre-wrap;
      padding: 0 20px;
      font-size: 36px;
      top: calc(50% - 44px);
    }
    @include mixin.xs {
      font-size: 24px;
      top: calc(50% - 29px);
    }
  }
}
