@use "../../assets/styles/media_queries" as mixin;

.collapsesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;

  .collapseWrapper {
    width: 100%;
    max-width: 580px;
  }

  @include mixin.md {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 415px;
  width: 100%;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  border: 2px solid var(--silver-loading);

  @include mixin.xs {
    height: 255px;
  }
}
