@use "../../../assets/styles/media_queries" as mixin;

.aboutBanner {
  width: 100%;
  height: 225px;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  background-image: url("../../../assets/images/About_background_desktop.jpg");
  background-size: cover;
  filter: brightness(70%);

  @include mixin.xs {
    background-image: url("../../../assets/images/About_background_mobile.jpg");
  }
}
