@use "../../../assets/styles/media_queries" as mixin;

.carousel {
  height: 415px;
  width: 100%;
  position: relative;
  border-radius: 25px;
  overflow: hidden;

  @include mixin.xs {
    height: 255px;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    @include mixin.xs {
      object-fit: cover;
    }
  }

  .btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 80px;
    position: absolute;
    top: calc(50% - 40px);

    @include mixin.xs {
      font-size: 30px;
      top: calc(50% - 15px);
    }
  }

  .btnNext {
    right: 20px;
  }

  .btnPrev {
    left: 20px;
  }

  .currentImg {
    position: absolute;
    left: calc(50% - 11px);
    bottom: 30px;
    font-size: 18px;
    color: white;
  }
}
