@use "./media_queries" as mixin;

.fa-chevron-down,
.fa-chevron-up {
  color: white;
  margin-right: 20px;
  font-size: 24px;
}

.star {
  margin-left: 10px;
  width: 30px;
  @include mixin.sm {
    width: 15px;
    margin-left: 5px;
  }
}

.active {
  text-decoration: underline !important;
}

.fa-spinner {
  font-size: 50px;
  color: var(--primary);
}

.animate-spin-slow {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }
  animation: spin 2s infinite;
  z-index: 100;
}
