// padding
.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.p-30 {
  padding: 30px;
}

// margin
.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.m-15 {
  margin: 15px;
}

.m-20 {
  margin: 20px;
}

.m-25 {
  margin: 25px;
}

.m-30 {
  margin: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.my-30 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.mt-20 {
  margin-top: 20px;
}

// flex
.flex-row {
  display: flex;
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

// debug

.b1 {
  background-color: red;
  border: 2px solid orange;
}

.b2 {
  background-color: green;
  border: 2px solid orange;
}

.b3 {
  background-color: blue;
  border: 2px solid orange;
}

.primary {
  filter: invert(56%) sepia(37%) saturate(1805%) hue-rotate(322deg) brightness(101%) contrast(100%);
}

.gray {
  filter: invert(94%) sepia(0%) saturate(25%) hue-rotate(222deg) brightness(95%) contrast(99%);
}
// others
